---
title: Products
heading: Our Products
subtitle: Start increasing your income with insights from our data.
---

<section class="diagonal patterned">
	<div class="container">
	    <p class="editor-link" style="text-align: center;"><a href="cloudcannon:collections/_products/" class="btn"><strong>&#9998;</strong> Manage products</a></p>
		<ul class="image-grid">
			{% for product in site.products %}
				<li>
					<a href="{{ site.baseurl }}{{ product.url }}">
						<img src="{% include relative-src.html src=product.image_path %}" alt="{{ person.name }}">
						<div class="details">
							<div class="name">{{ product.name }}</div>
							<div class="position">{{ product.subtitle }}</div>
						</div>
					</a>
				</li>
			{% endfor %}
			<li class="filler"></li>
			<li class="filler"></li>
		</ul>
	</div>
</section>
