---
layout: default
---
{% assign products = site.pages | where: "path", "products.html" | first %}

<section class="hero diagonal">
	<div class="container">
		{% if products.name %}
		<h2>{{ page.name}}</h2>
		{% endif %}
		{% if page.subtitle %}
			<p class="subtext">{{ page.subtitle }}</p>
		{% endif %}
	</div>
</section>

<section class="diagonal">
	<div class="container">
	<!---->

		{% if page.video_url %}
		    <iframe width="700" height="432" src="{{ page.video_url }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
		{% else %}
		    <p><img src="{% include relative-src.html src=page.image_path %}" class="screenshot"></p>
        {% endif %}
		<div>
			{{ content }}
		</div>
		<p>
		<form action="{{ page.external_url }}">
			<input type="submit" value="Order Now for {{ page.price }}...">
		</form>
	</div>
</section>
